<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scanmyfood.backend.mapper.UserIntakeMapper">

    <select id="insertFoodAnalysis" resultType="java.lang.Integer">
            INSERT INTO daily_intake (
            user_id, intake_name, image_url, source_of_intake,
            calories_value, calories_unit,
            protein_value, protein_unit,
            total_carbohydrate_value, total_carbohydrate_unit,
            total_fat_value, total_fat_unit,
            dietary_fiber_value, dietary_fiber_unit,
            total_sugars_value, total_sugars_unit,
            sodium_value, sodium_unit
        ) VALUES (
            #{userId}, #{intakeName}, #{imageUrl}, #{sourceOfIntake},
            #{caloriesValue}, #{caloriesUnit},
            #{proteinValue}, #{proteinUnit},
            #{totalCarbohydrateValue}, #{totalCarbohydrateUnit},
            #{totalFatValue}, #{totalFatUnit},
            #{dietaryFiberValue}, #{dietaryFiberUnit},
            #{totalSugarsValue}, #{totalSugarsUnit},
            #{sodiumValue}, #{sodiumUnit}
        )
        RETURNING id
    </select>

    <select id="insertProductAnalysis" resultType="java.lang.Integer">
        INSERT INTO daily_intake (
            user_id,
            intake_name,
            image_url,
            source_of_intake,
            energy_value, energy_unit,
            protein_value, protein_unit,
            total_carbohydrate_value, total_carbohydrate_unit,
            total_fat_value, total_fat_unit,
            saturated_fat_value, saturated_fat_unit,
            trans_fat_value, trans_fat_unit,
            dietary_fiber_value, dietary_fiber_unit,
            total_sugars_value, total_sugars_unit,
            added_sugars_value, added_sugars_unit,
            sodium_value, sodium_unit,
            iron_value, iron_unit,
            calcium_value, calcium_unit,
            potassium_value, potassium_unit
        ) VALUES (
            #{userId},
            #{intakeName},
            #{imageUrl},
            #{sourceOfIntake},
            #{energyValue}, #{energyUnit},
            #{proteinValue}, #{proteinUnit},
            #{totalCarbohydrateValue}, #{totalCarbohydrateUnit},
            #{totalFatValue}, #{totalFatUnit},
            #{saturatedFatValue}, #{saturatedFatUnit},
            #{transFatValue}, #{transFatUnit},
            #{dietaryFiberValue}, #{dietaryFiberUnit},
            #{totalSugarsValue}, #{totalSugarsUnit},
            #{addedSugarsValue}, #{addedSugarsUnit},
            #{sodiumValue}, #{sodiumUnit},
            #{ironValue}, #{ironUnit},
            #{calciumValue}, #{calciumUnit},
            #{potassiumValue}, #{potassiumUnit}
        )
        RETURNING id
    </select>

    <select id="insertFoodItem" resultType="java.lang.Integer">
        INSERT INTO food_item (
            item_name,
            calories_value_per_100g, calories_unit,
            protein_value_per_100g, protein_unit,
            total_carbohydrate_value_per_100g, total_carbohydrate_unit,
            total_fat_value_per_100g, total_fat_unit,
            dietary_fiber_value_per_100g, dietary_fiber_unit,
            total_sugars_value_per_100g, total_sugars_unit,
            sodium_value_per_100g, sodium_unit,
            added_by
        ) VALUES (
            #{itemName},
            #{caloriesValuePer100g}, #{caloriesUnit},
            #{proteinValuePer100g}, #{proteinUnit},
            #{totalCarbohydrateValuePer100g}, #{totalCarbohydrateUnit},
            #{totalFatValuePer100g}, #{totalFatUnit},
            #{dietaryFiberValuePer100g}, #{dietaryFiberUnit},
            #{totalSugarsValuePer100g}, #{totalSugarsUnit},
            #{sodiumValuePer100g}, #{sodiumUnit},
            #{addedBy}
        )
        RETURNING id
    </select>

    <insert id="insertFoodAnalysisItem">
        INSERT INTO food_analysis_item (
            daily_intake_id,
            food_item_id,
            quantity_value,
            quantity_unit
        ) VALUES (
            #{dailyIntakeId},
            #{foodItemId},
            #{quantityValue},
            #{quantityUnit}
        )
    </insert>

    <select id="fetchUserIntake" resultType="com.scanmyfood.backend.models.DailyIntakeRecord">
        SELECT
            id,
            user_id,
            intake_name,
            source_of_intake,
            image_url,
            calories_value,
            calories_unit,
            energy_value,
            energy_unit,
            protein_value,
            protein_unit,
            cholesterol_value,
            cholesterol_unit,
            total_carbohydrate_value,
            total_carbohydrate_unit,
            dietary_fiber_value,
            dietary_fiber_unit,
            total_sugars_value,
            total_sugars_unit,
            added_sugars_value,
            added_sugars_unit,
            total_fat_value,
            total_fat_unit,
            saturated_fat_value,
            saturated_fat_unit,
            trans_fat_value,
            trans_fat_unit,
            sodium_value,
            sodium_unit,
            calcium_value,
            calcium_unit,
            iron_value,
            iron_unit,
            potassium_value,
            potassium_unit,
            magnesium_value,
            magnesium_unit,
            phosphorus_value,
            phosphorus_unit,
            zinc_value,
            zinc_unit,
            folate_value,
            folate_unit,
            vitamin_d_value,
            vitamin_d_unit,
            vitamin_a_value,
            vitamin_a_unit,
            vitamin_c_value,
            vitamin_c_unit,
            vitamin_b6_value,
            vitamin_b6_unit,
            vitamin_b12_value,
            vitamin_b12_unit,
            vitamin_e_value,
            vitamin_e_unit,
            vitamin_k_value,
            vitamin_k_unit,
            created_at
        FROM daily_intake
        WHERE user_id = #{userId}
            AND DATE(created_at) = #{date}
    </select>

    <select id="fetchIntakeById" resultType="com.scanmyfood.backend.models.DailyIntakeRecord">
        SELECT
            id,
            user_id,
            intake_name,
            source_of_intake,
            image_url,
            calories_value,
            calories_unit,
            energy_value,
            energy_unit,
            protein_value,
            protein_unit,
            cholesterol_value,
            cholesterol_unit,
            total_carbohydrate_value,
            total_carbohydrate_unit,
            dietary_fiber_value,
            dietary_fiber_unit,
            total_sugars_value,
            total_sugars_unit,
            added_sugars_value,
            added_sugars_unit,
            total_fat_value,
            total_fat_unit,
            saturated_fat_value,
            saturated_fat_unit,
            trans_fat_value,
            trans_fat_unit,
            sodium_value,
            sodium_unit,
            calcium_value,
            calcium_unit,
            iron_value,
            iron_unit,
            potassium_value,
            potassium_unit,
            magnesium_value,
            magnesium_unit,
            phosphorus_value,
            phosphorus_unit,
            zinc_value,
            zinc_unit,
            folate_value,
            folate_unit,
            vitamin_d_value,
            vitamin_d_unit,
            vitamin_a_value,
            vitamin_a_unit,
            vitamin_c_value,
            vitamin_c_unit,
            vitamin_b6_value,
            vitamin_b6_unit,
            vitamin_b12_value,
            vitamin_b12_unit,
            vitamin_e_value,
            vitamin_e_unit,
            vitamin_k_value,
            vitamin_k_unit,
            created_at
        FROM daily_intake
        WHERE user_id = #{userId}
          AND id= #{dailyIntakeId}
    </select>

    <select id="fetchFoodItemsByDailyIntakeId" resultType="com.scanmyfood.backend.models.FoodItemRecord">
        SELECT fi.*, fai.quantity_value, fai.quantity_unit
        FROM food_item fi
                 INNER JOIN food_analysis_item fai
                            ON fi.id = fai.food_item_id
        WHERE fai.daily_intake_id = #{dailyIntakeId};
    </select>

    <select id="insertProductLabel" resultType="java.lang.Integer">
        INSERT INTO product_label (
            product_name, category,
            total_quantity_value, total_quantity_unit,
            serving_size_value, serving_size_unit,
            energy_value_per_100g, energy_unit,
            protein_value_per_100g, protein_unit,
            total_carbohydrate_value_per_100g, total_carbohydrate_unit,
            total_fat_value_per_100g, total_fat_unit,
            saturated_fat_value_per_100g, saturated_fat_unit,
            trans_fat_value_per_100g, trans_fat_unit,
            dietary_fiber_value_per_100g, dietary_fiber_unit,
            total_sugars_value_per_100g, total_sugars_unit,
            added_sugars_value_per_100g, added_sugars_unit,
            sodium_value_per_100g, sodium_unit,
            iron_value_per_100g, iron_unit,
            potassium_value_per_100g, potassium_unit,
            calcium_value_per_100g, calcium_unit,
            added_by
        ) VALUES (
            #{productName}, #{category},
            #{totalQuantityValue}, #{totalQuantityUnit},
            #{servingSizeValue}, #{servingSizeUnit},
            #{energyValuePer100g}, #{energyUnit},
            #{proteinValuePer100g}, #{proteinUnit},
            #{totalCarbohydrateValuePer100g}, #{totalCarbohydrateUnit},
            #{totalFatValuePer100g}, #{totalFatUnit},
            #{saturatedFatValuePer100g}, #{saturatedFatUnit},
            #{transFatValuePer100g}, #{transFatUnit},
            #{dietaryFiberValuePer100g}, #{dietaryFiberUnit},
            #{totalSugarsValuePer100g}, #{totalSugarsUnit},
            #{addedSugarsValuePer100g}, #{addedSugarsUnit},
            #{sodiumValuePer100g}, #{sodiumUnit},
            #{ironValuePer100g}, #{ironUnit},
            #{potassiumValuePer100g}, #{potassiumUnit},
            #{calciumValuePer100g}, #{calciumUnit},
            #{addedBy}
        )
        RETURNING id
    </select>

    <insert id="insertFoodAnalysisProduct">
        INSERT INTO food_analysis_product (
            daily_intake_id,
            product_label_id,
            quantity_value,
            quantity_unit
        ) VALUES (
            #{dailyIntakeId},
            #{productLabelId},
            #{quantityValue},
            #{quantityUnit}
        )
    </insert>

    <select id="insertProductPrimaryConcern" resultType="java.lang.Integer">
        INSERT INTO product_primary_concern (
            product_label_id,
            issue,
            explanation
        ) VALUES (
            #{productLabelId},
            #{issue},
            #{explanation}
        )
        RETURNING id
    </select>

    <insert id="insertConcernRecommendation">
        INSERT INTO product_concern_recommendation (
            concern_id,
            food,
            quantity,
            reasoning
        ) VALUES (
            #{concernId},
            #{food},
            #{quantity},
            #{reasoning}
        )
    </insert>

    <update id="updateDailyIntakeImageUrl">
        UPDATE daily_intake
        SET image_url = #{imageUrl}
        WHERE id = #{dailyIntakeId}
    </update>

</mapper>